<header>
  <div class="header-logo">
    
    <a href="/">タスク一覧</a>
  </div>
  <ul class="header-menus">
    <div class="col-md-10 col-md-offset-1">
  <div role="navigation" aria-label="&lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: ja.will_paginate.container_aria_label&quot;&gt;Container Aria Label&lt;/span&gt;" class="pagination"><ul class="pagination"><li class="prev previous_page disabled"><a href="#">前ページ</a></li> <li class="active"><a href="/tasks?page=1">1</a></li> <li><a rel="next" href="/tasks?page=2">2</a></li> <li><a href="/tasks?page=3">3</a></li> <li class="next next_page "><a rel="next" href="/users?page=2">次ページ</a></li></ul></div>
  </ul>
</header>

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">絶対にフリーエンジニアになる!</div>
    <div class="posts-index-item">Rails実践中！</div>
  </div>